{% if (questions) %} 
{% for question in questions %} 
<div class="well question">
<p style="margin-bottom:5px"><b class="contrast_font">{{ text_question_from }} {{ question['author'] }}</b> - <span style="color:#999999">{{ question['date_added'] }}</span></p>
<p style="margin-bottom:20px">- {{ question['text'] }}</p>
{% if (question['answer']) %} 
<p style="margin-bottom:5px"><b class="contrast_font">{{ text_our_answer }}</b></p>
<p>{{ question['answer'] }}</p>
{% else %} 
<p><i>{{ text_no_answer }}</i></p>
{% endif %} 
</div>
{% endfor %} 
<div class="text-right">{{ pagination }}</div>
{% else %} 
<p style="margin-top:5px;">{{ text_no_questions }}</p>
{% endif %}